.container
  h1 Disclaimer
  br
  h2 Can I have the pictures?
  p.indent All pictures posted in gallery are licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCmmercial-ShareAlike 3.0 Unsupported License</a>, this excludes icons and fonts.
  p.indent Should you ever want a full resolution pictures or just want to say you are using it, please feel free to shoot me an email.
  h2 Can I ask about stocks?
  p.indent Please don't ask me any questions about stocks as I'm not allowed talk about them.  And truth is, I know nothing about it.  All I see is numbers flying across.  :)
  h2 Do you know the movie Inception end in reality or dream?
  p.indent I do not know this either.  However if your name is Christopher Nolen I would like to discuss how I think it ended.  