doctype
html
  head
    title= "CodingTwinky - This is what I do...  Whatever this is..."
    meta(charset='utf-8')
    link(rel='stylesheet', href='/site/styles.css')
    script(type='text/javascript', src='/site/script.js')
    link(rel="shortcut icon", href="/site/img/t.ico")

  body
    #menuContainer
    #content
  
  // serenedi-import-mustacheTemplate: "menuTemplate.html"
  // serenedi-import-mustacheTemplate: "galleryTemplate.html"
  // serenedi-import-mustacheTemplate: "disclaimerTemplate.html"
  // serenedi-import-mustacheTemplate: "resumeTemplate.html"
