div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  hr#menuBarStrike
  .container
    .navbar-header
      button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#homeMenuButton.navbar-brand(href="http://www.codingtwinky.com") CodingTwinky
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a#galleryMenuButton(href="#gallery") Gallery
        li
          a#disclaimerMenuButton(href="#disclaimer") Disclaimer
        li
          a#resumeMenuButton(href="#resume") Resume
      ul.nav.navbar-nav.navbar-right
        .icons
          a.addPopover.email(href="mailto:twinky@codingtwinky.com", data-content="Email!", rel="popover", data-placement="bottom", data-trigger="hover")
          a.addPopover.twitter(href="http://twitter.com/CodingTwinky", data-content="Twitter!", rel="popover", data-placement="bottom", data-trigger="hover")
          a.addPopover.linkedin(href="http://www.linkedin.com/pub/jk-jung-kim/37/776/b40", data-content="LinkedIn!", rel="popover", data-placement="bottom", data-trigger="hover")
          a.addPopover.github(href="http://github.com/codingtwinky", data-content="Github!", rel="popover", data-placement="bottom", data-trigger="hover")
    <!--/.nav-collapse -->
